#contact{
    background-color: #bae6fd;
    color: #0c4a6e;
    font-family: "Poppins", sans-serif;
    margin: 50px;
    padding: 0px;
    border: 2px ; /*khung*/
    border-radius: 0px;
    
}
.contact_info {
      font-size: 30px;
      font-weight: 500
    }
.contact_grid {
      display: grid;
      grid-template-columns: 1fr 1.25fr;
      align-items: start;
      margin: -90px 0px;
      
    }
.contact h1 {
      margin: 100px 0;
      font-size:50px ;
      font-weight: 1000;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }