*{box-sizing:border-box} html,body{margin:0}

#home{
    /* background-color: rgb(125, 214, 241); */
    background: #bae6fd;
    color: #0c4a6e;
    font-family: "Poppins", sans-serif;
    margin: 50px;
    padding: 0px;
    border: 2px ; /*khung*/
    border-radius: 0px;
}
    .hp {
      margin-top: 500px;
      margin-bottom: 100px;
    }
    .hp p {
      font-size: 35px;
      font-family: 'caveat',cursive;
    }
    .homepage {
      width: min(1200px,92vw);
      margin: 6vh auto;
      position: relative;
    }
      
    
    .hp_img {
      width: 100%;
      height: auto;
      display: block;
      margin-top: 300px;
    }
    .cpn {
      position: absolute;
      left:50%;
      top: 0;
      transform: translate(-50%,-150%);

      font-family: "Trade Winds", system-ui;
      font-weight: 400;
      font-style: normal;
      font-size: 100px;
      color: #0c4a6e;
      text-shadow: 0 0 8px #00b0ff, 0 0 20px #00ffdd;
      padding: clamp(6px,1vw,12px) clamp(10px,2vw,20px);
      /* background: rgba(255,255,255,6) */
      border-radius: 12px;
      backdrop-filter: saturate(120%) blur(2px);
      z-index: 2;
}
      .cards {
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 24px;
      }
      @media(max-width: 900px){.cards {grid-template-columns: repeat(2,1fr);}}
      @media(max-width: 600px){.cards {grid-template-columns: 1fr;}}
      .card {
      background: #f1f5f9;
      border: 2px solid #93c5fd;
      padding: 24px;
      border-radius: 12px;
      overflow: hidden; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      .card h2 {
        font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
      }
      .card_media {
        border-radius: 8px;
        overflow: hidden;
        margin: 16px 0;
      }
      .card p {
       font-family: "Playwrite GB S", cursive;
       font-weight: 400;
       font-style: normal;
      }
      .card_text {
        font-style: italic;
        opacity:7 ;
        margin: 8px 0;
      }

  
    

    



  .header {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  left: 0;
  right: 0;
  height: 75px;



  background: #0ea5e9;

  font-size: 22px;
  font-weight: 600;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 5);
  box-sizing: border-box;
  }
  .right a:link {
    text-decoration: none;

  }
  .right a {
    font-family: "Poppins", 'cursive';
  color: #002B5B;
    
    
  }
  .right {
    display: flex;
    gap: 100px;


  }
  .right a {
  display: inline-block;
  padding: 10px 20px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
  .right a:hover, .right a:focus {
  background-color: #0288D1;
  color: #f2ff7e;
  border-radius: 10px;
  transform: scale(1.4);

}
  .left {
    margin-left: -24px;
  }
.api {
  position: absolute;
  top: 40%;
  right:40%

}
